    <div id="header">
        <h1><a href="/"><span class="blind">Sensefarm</span></a></h1>
        <div class="gnbMenu">
            <ul>
                <li class="fir active"><a href="/company">회사소개</a></li>
                <li><a href="/service">서비스 소개</a></li>
                <li><a href="/process">절차/가격</a></li>
                <li class="end"><a href="/contact">문의/의뢰</a></li>
            </ul>
        </div>
    </div>

    <div class="snbMenu">
        <a href="/company/ceo" class="active">CEO</a>
        <a href="/company/motive" class="active">설립동기</a>
        <a href="/company/value" class="active">경영이념과 핵심가치</a>
        <!-- 
        <a href="/company/ci" class="active">CI 소개</a>
        <a href="/service/naming" class="active">네이밍</a>
        <a href="/service/marketing" class="active">마케팅</a>
        <a href="/service/design" class="active">디자인</a>
        
        <a href="/process/step" class="active">절차</a>
        <a href="/process/price" class="active">가격</a>
         -->
    </div>