{% extends "layout.html" %}

{% block content %}
	
		<div class="pageTitle">
			<h1>디자인</h1>
		</div>

		<div class="subContent">
		
			<div class="SRV000">

				<div class="group gp1" id="gp1">
					<h2></h2>
					<div class="text">
                        <p>느낄 수 없다면, 이해할 수도 없기에,
                            보여지는 것의 중요함은 경영 철학 그 이상입니다.
                            기업의 철학과 기술력을 담아 아름답게 표현해드리겠습니다.</p>

                        <p class="imgDesp">CI(기업 이미지)</p>

                        <ul>
                            <li>CI제작, 회사 로고, 로고디자인</li>
                            <li>심볼 마크, 로고 타입, 어플리케이션</li>
                        </ul>
                    </div>
				</div>

				<div class="group gp2" id="gp2">
					<h2></h2>
					<div class="text">
                        <p>대기업 제품들, 명품, 프랜차이즈와 경쟁하실 제품이라면
                            제품과 서비스의 특징을 잘 살린 이미지로 차별화가 필요합니다.</p>

                        <p class="imgDesp">BI(브랜드 이미지)</p>

                        <ul>
                            <li>BI제작, 브랜드 로고, 로고 디자인 </li>
                            <li>심볼 마크, 로고 타입, 어플리케이션</li>
                        </ul>
					</div>
				</div>

				<div class="group gp3" id="gp3">
					<h2></h2>
					<div class="text">
                        <p>제품을 빛나게 하는 용기, 디자인을 입은 고급 박스로 업그레이드된 제품이
                            소비자의 손을 탑니다.</p>

                        <p class="imgDesp">포장디자인</p>

                        <ul>
                            <li>케이스 디자인, 시제품 제작</li>
                            <li>투명케이스, 종이케이스, 지퍼백, 슬라이드백, 부직포, 안전봉투, 테이프</li>
                            <li>고급 박스(싸바리), 골판지 박스디자인</li>
                        </ul>
					</div>
				</div>

			</div>
		
		</div>

{% endblock content %}