{% extends "layout.html" %}

{% block content %}
	
		<div class="pageTitle">
			<h1>마케팅</h1>
		</div>

		<div class="subContent">
		
			<div class="SRV000">

				<div class="group gp1" id="gp1">
					<h2>브랜딩</h2>
					<div class="text">
                        <p>기업의 관점에서 브랜딩은 강력한 각인툴이자 시장 확대를 위한 전략적인 해법입니다.
                            네이밍을 비롯한 기업이미지를 토대로 한 브랜드 전략은 중소기업이 대기업과도 경쟁할 수 있는 실질적인 토대를 마련해 줍니다.</p>
                        <ul>
                            <li>브랜드 전략 수립</li>
                            <li>기업 프랜차이즈 전략 수립</li>
                        </ul>

                        <!--
                        <div class="svcList_5">
                            <div class="single">
                                <dl>
                                    <dt>
                                        <dd>
                                        </dd>
                                    </dt>
                                </dl>
                            </div>
                        </div>
                        -->

                    </div>
				</div>

				<div class="group gp2" id="gp2">
					<h2>슬로건</h2>
					<div class="text">
                        <p>7,000,000,000명의 힘보다 단 1명의 두뇌가 파워를 더 발휘하는 경우도 있습니다.
                            칠십억명의 인류도 설명하지 못한 만유인력이 뉴턴 한사람의 머리에서 정리된 것처럼
                            조금 다른 생각을 가지고 사는 일부의 다른 시각은 세상에 신선한 흥미를 줍니다.</p>

                        <p>짧지만 강력하게 많은 것을 담는 것이 어렵다면,
                            조금 다른 시각이 필요하다면,
                            노크해 주세요. </p>
                        <ul>
                            <li>슬로건, 캐치프레이즈 수립</li>
                        </ul>
					</div>
				</div>

				<div class="group gp3" id="gp3">
					<h2>마케팅 전략</h2>
					<div class="text">
                        <p>전문 경영인이 상주하는 전략 기획실이 없다고 슬퍼하시지 마세요.
                            더 잘하는 것, 꼭 필요한 것, 더 많이 하는 것들을 하기 위해
                            때론 버리는 것도 경쟁력입니다.
                            일시적 조직 팽창의 부작용이 고민되실 때, 전략은 전문가에 양보하시고
                            집중과 선택의 묘를 살리는 것도 효율적인 경영입니다.</p>


                        <ul>
                            <li>기업 이념, 핵심가치 수립</li>
                            <li>홍보전략 구축</li>
                            <li>광고대행</li>
                            <li>홈페이지 구축</li>
                            <li>SEO, 키워드 마케팅, 온라인 광고, 기획전</li>
                        </ul>
					</div>
				</div>

			</div>
		
		</div>

{% endblock content %}