{% extends "layout.html" %}

{% block content %}
	
		<div class="pageTitle">
			<h1>CEO</h1>
		</div>

		<div class="subContent">
		
			<div class="SRV000">

				<div class="group gp1" id="gp1">
					<h2>정희우 <br/>Branding Professional Firm</h2>
					<div class="text">
						<h3>"닭튀김에 자신 있는 분이라면, 요리만 집중해도 부자가 되실 수 있는 산업 환경"</h3><br/>

                        <p class="imgDesp">4가지 있는 센스팜이 되기 위해 3가지를 버리겠습니다.</p>
                        <p>센스팜은 4가지를 가지기로 했습니다.</p>
                        <p>첫째, 고객이 성공해야 내가 성공한다는 마음가짐 입니다. 센스팜은 매출 상승, 우주 최고, 독보적 선점 이전에 36.5℃ 인간적인 감성, 따뜻한 상생을 지향합니다.</p>
                        <p>둘째, 합당한 가격으로 제시되는 고품질의 지식서비스 입니다. 센스팜은 중소기업의 규모에 맞춰, 꼭 필요한 것들만을 선별하여 제안하며, 함께 커가겠습니다. </p>
                        <p>셋째, 톡톡 튀는 발상, 삶을 즐겁게 만드는 유머 입니다. 센스팜은 건강한 신체와 건전한 정신을 가진 젊은이들의 빛나는 아이디어를 선보이겠습니다. 패러디를 통한 익숙한 유쾌함을 비롯하여 유머를 기반으로 한 창의적인 결과물, 스토리텔링으로 기억에 오래 남는 결과물을 추구합니다.</p>
                        <p>넷째, 바쁘신 고객님들의 발에 맞춘 스피드 입니다.센스팜은 빠르게 변화하는 시대를 열심히 따라가며 읽어내고, 바쁜 고객님들을 위해 민첩하게 움직이겠습니다.</p>

                        <p>3가지를 버리기로 했습니다.</p>
                        <p>첫째, 어려운 용어를 버리겠습니다. 어렵게 배운 고상해 보이는 용어지만, 바쁘신 고객님들을 붙잡고 어려운 이야기로 호기심을 자극하며, 추상적인 이야기만 하지 않겠습니다. 모호한 국적의 외래어와 전문 용어 대신 이해하기 쉬운 용어와 설명으로 소통하겠습니다.</p>
                        <p>둘째, 프로젝트 결과물을 공개하고 싶은 욕구는 버리겠습니다. 실적이기도 한 결과물들을 널리 자랑도 하고 싶지만 도용, 악용되기도 쉬운 고객님들의 소중한 자산임을 알기에 고객님들의 입소문만을 기대하며 꾹 참겠습니다.</p>
                        <p>셋째, 안일한 사고는 버리겠습니다. 비록 경제가 어려워 가격을 타협했다 하더라도, 서비스 품질만큼은 타협하지 않겠습니다.</p>

                        <p>센스팜은 즐거운 유머, 탄탄한 전문 지식, 발 빠른 트렌드 분석을 기반으로 한 창의적인 마케팅과 감각적인 디자인으로 중소기업에 날개를 달아드리며 명성을 얻고 싶습니다.</p>

					</div>
				</div>

			</div>
		
		</div>		

{% endblock content %}