{% extends "layout.html" %}

{% block content %}
	
		<div class="pageTitle">
			<h1>CI 소개</h1>
		</div>

		<div class="subContent">
		
			<div class="SRV000">

				<div class="group gp1" id="gp1">
					<h2>센스팜</h2>
					<div class="text">
                        <p>센스팜은 단순한 감각(sense) 인식의 차원을 넘어 센스를 발굴하고(dig), 센스를 키우고자하는(farm) 하는 의지를 담고 있습니다.
                        센스 넘치는 사람들의 센스 있는 마케팅 전략과 디자인으로 서비스 이상의 감성적 가치를 전달하고자 하는 것이 목표입니다.</p>

                        <p>※ 센스팜은 2013년에 상표 출원되고 2014년에 등록되어 그 권리를 보호받고 있습니다.</p>
					</div>
				</div>

				<div class="group gp2" id="gp2">
					<h2>마크</h2>
					<div class="text">
                        <p>마크는 빛나는 아이디어를 보는 남다른 감각인 안목을 표현하고자, ‘아이디어에 빛나는 눈동자’를 형성화 하였습니다. 형상은 직관적으로 느낄 수 있는 이미지, 간결하고 명확한 표현으로 모호함을 최소화하였으나 다양한 시각의 차이와 무한한 발상의 의미로 다양한 색상 활용이 가능하도록 표현 하였습니다.</p>
					</div>
				</div>

				<div class="group gp3" id="gp3">
					<h2>로고타입</h2>
					<div class="text">
                        <p>센스팜은 비록 쉬운 영어라 할지라도 영어보다는 한국어가 더 쉽고 편안한 한국인인 내국인을 대상으로 하는 마케팅 전문 기업이며, 한글을 읽을 수 있는 어린이와 고령자에 대한 배려로 꼭 필요한 경우를 제외하고 한글로 표현하고자 노력하였습니다.</p>
                        <p>마케팅이라는 대단히 어렵고 고차원적인 학문을 근간으로 하지만, 모든 이들에게 쉽게 다가갈 수 있어야 하는 것이 마케팅이기 때문입니다.</p>
                        <p>비록 복잡다단한 시대지만 만나면 미소가 지어지는 편안한 기업, ‘함께’라는 중요한 가치를 잊지 않는 기업인 센스팜의 경영 철학를 표현하고자, 굳이 어렵게 조합하거나 특별한 의미를 부여하며 생각하지 않아도, 직관적으로 느낄 수 있도록 로고를 디자인 하였습니다.</p>
					</div>
				</div>

				<div class="group gp4" id="gp4">
					<h2>시그니처</h2>
					<div class="text">
					</div>
				</div>

				<div class="group gp5" id="gp5">
					<h2>컬러시스템</h2>
					<div class="text">
					</div>
				</div>

				<div class="group gp6" id="gp6">
					<h2>슬로건</h2>
					<div class="text">
					</div>
				</div>

				<div class="group gp7" id="gp7">
					<h2>소개영상</h2>
					<div class="text">
					</div>
				</div>

			</div>
		
		</div>
{% endblock content %}