{% extends "layout.html" %}

{% block content %}
	
		<div class="pageTitle">
			<h1>절차</h1>
		</div>

		<div class="subContent">
		
			<div class="SRV000">

				<div class="group gp1" id="gp1">
					<h2>네이밍</h2>
					<div class="text">

                    </div>
				</div>

				<div class="group gp2" id="gp2">
					<h2>마케팅</h2>
					<div class="text">
					</div>
				</div>

				<div class="group gp3" id="gp3">
					<h2>디자인</h2>
					<div class="text">
					</div>
				</div>

			</div>
		
		</div>

{% endblock content %}